.wrap{
}
.head{
	width: 100%;height: 200rpx;
	padding-top: 78rpx;
	background-image: url(../../static/ListHeadImg.png);
	background-size: 100% 100%;
	position: sticky;top: 0;
	z-index: 999;
}
/* 导航 */
.head_tab {
	width: 60%;margin: 30rpx 0;
	display: flex;justify-content: space-around;
}
.swiper_zi{
	width: 100%;height: 88vh; 
	
}
.swiper_item{
	width: 100%;height: 100%;
	box-sizing: border-box;
	
}
.scroll-Y{
	height: 100%;
	/* // border-radius: 50rpx 50rpx 0 0; */
}
.swiper-item_child{ 
	width: 100%;
}
