.chat_box {
	flex: 1;
	background-color: #F1F1F1;
}

.chat_input_box {
	/* position: fixed;
	left: 0; */
	width: 750rpx;
	background-color: #F8F8F8;
}

.chat_input {
	flex-direction: row;
	align-items: center;
	height: 108rpx;
}

.textarea_input {
	flex: 1;
	height: 82rpx;
	line-height: 45rpx;
	padding-left: 18rpx;
	padding-right: 18rpx;
	background-color: #FFFFFF;
	border-radius: 10rpx;
}

.voice_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 30rpx;
	margin-right: 18rpx;
}

.emoj_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 18rpx;
	margin-right: 13rpx;
}
.add_img {
	width: 51rpx;
	height: 51rpx;
	margin-left: 15rpx;
	margin-right: 30rpx;
}
.btn_box {
	width: 112rpx;
	height: 60rpx;
	align-items: center;
	justify-content: center;
border-radius: 6rpx;
	background-color: #9FA4EE;
	margin-right: 18rpx;
}
.btn_text {
	font-size: 28rpx;
	color: #FFFFFF;
}
.fun_swiper {
	flex: 1;
	background-color: #F8F8F8;
}
.swiper_item{
	flex: 1;
}
.conter_box{
	flex: 1;
	flex-direction: row;
}
.voice_box {
	flex: 1;
	height: 82rpx;
	background-color: #FFFFFF;
	border-radius: 6rpx;
	align-items: center;
	justify-content: center;
}
.voice_text {
	font-size: 32rpx;
	font-weight: 400;
	color: #161616;
}
/* 语音ui */
.voice_bd {
	position: fixed;
	align-items: center;
	bottom:400rpx;
	width: 750rpx;
	height: 400rpx;
}
.voice_ui {
	width: 300rpx;
	height: 400rpx;
	border-radius: 8rpx;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
}
.voice_ui_img {
	width: 170rpx;
	height: 280rpx;
	margin-bottom: 20rpx;
}
.voice_ui_text {
	color: #FFFFFF;
	font-size: 30rpx;
}
.audio_box {
	width: 200rpx;
	height: 300rpx;
}
.delBut{
	display: inline-block;position: absolute;right: 30rpx;bottom: 30rpx;
	background-color: white;padding: 10rpx 20rpx;border-radius: 6rpx;
	box-shadow: -20rpx -20rpx 30rpx 10rpx white;
}
.shop{
	padding: 10rpx 30rpx;
	width: 750rpx;height: 130rpx;background-color: #fff;
	position: fixed;left: 0;top: 0;
	display: flex;justify-content: space-between;flex-direction: row;
}
.shopLeft{
	width: 110rpx;height: 110rpx;border-radius: 6rpx;
}
.shopRig{
	width: 560rpx;
	display: flex;justify-content: space-between;flex-direction: row;
}
.rigL{
	
}
.rigtitle{
	width: 390rpx;
	color: #999;font-size: 28rpx;
	text-overflow: ellipsis;  //省略号
	lines: 2;  //行数
}
.rigPrice{
	color: #999;font-size: 32rpx;
}
.button{
	background-color: #f30600;
	margin:30rpx 4rpx 20rpx 0;line-height: 62rpx;padding: 0 20rpx;border-radius: 50rpx;
	font-size: 34rpx;color: white;
}